@model Tuple<List<Review>, Client>
@{ Layout = null;}
@{
    ViewData["clientID"] = K9CleanSweep.Startup.status.GetUserID();
    ViewData["loggedIn"] = K9CleanSweep.Startup.status.GetStatus();
    ViewData["empLoggedIn"] = K9CleanSweep.Startup.empStatus.GetStatus();
    ViewData["clientUserName"] = K9CleanSweep.Startup.status.GetUsername();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pooch-Patrol</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" id="userNavbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" id="brandName" asp-controller="Home" asp-action="Index">Pooch-Patrol</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Services">Rates</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Reviews">Reviews</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>
                @if (ViewData["loggedIn"].ToString() == "True")
                { }
                else
                {
                    <a id="bookButton" asp-area="" class="pull-right" asp-controller="Home" asp-action="BookService">Sign Up</a>
                }
            </div>
        </div>
    </nav>
    @if (ViewData["loggedIn"].ToString() == "True")
    {
        <div id="login" class="col-md-12">
            <label class="label-info navbar-left" id="userBadge">Welcome&nbsp;@ViewData["clientUserName"]</label>
            <div class="text-center col-md-6">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Client" asp-action="LeaveReview">Leave FeedBack</a></li>
                    <li><a asp-area="" asp-controller="Client" asp-action="ClientOrder">Your Order</a></li>
                </ul>
            </div>
            <form class="navbar-form navbar-right" method="post" asp-action="Logout">
                <button type="submit" class="btn btn-primary">Log Out</button>
            </form>
        </div>
    }
    else
    {
        <div id="login" class="col-md-12">
            <form class="navbar-form navbar-right" asp-action="Index">
                <button type="submit" class="btn btn-primary">Log In</button>
            </form>
        </div>
    }
    <div class="container body-content">
        <div class="page-header text-center pageHeader">
            <h1>Client Reviews</h1>
        </div>
        @foreach (var review in Model.Item1)
        {
            <div class="jumbotron text-center">
                <div class="text-center">
                    @switch (@review.starRating)
                    {
                        case 1: // review had 1 star
                            {
                                <p>
                                    <span id="reviewStars">
                                        &#x2605;&nbsp;
                                    </span>
                                </p>
                                break;
                            }
                        case 2: // review had 2 stars
                            {
                                <p>
                                    <span id="reviewStars">
                                        &#x2605;&nbsp;&#x2605;&nbsp;
                                    </span>
                                </p>
                                break;
                            }
                        case 3: // review had 3 stars
                            {
                                <p>
                                    <span id="reviewStars">
                                        &#x2605;&nbsp;&#x2605;&nbsp;&#x2605;&nbsp;
                                    </span>
                                </p>
                                break;
                            }
                        case 4: // review had 4 stars
                            {
                                <p>
                                    <span id="reviewStars">
                                        &#x2605;&nbsp;&#x2605;&nbsp;&#x2605;&nbsp;&#x2605;&nbsp;
                                    </span>
                                </p>
                                break;
                            }
                        case 5: // review had 5 stars
                            {
                                <p>
                                    <span id="reviewStars">
                                        &#x2605;&nbsp;&#x2605;&nbsp;&#x2605;&nbsp;&#x2605;&nbsp;&#x2605;&nbsp;
                                    </span>
                                </p>
                                break;
                            }
                    }
                </div>
                <div>
                    <h2>@review.Title</h2>
                    <hr id="reviewHR"/>
                    <p>"@review.Message"</p>
                    <hr id="reviewHRDate"/>
                    <span id="reviewDate">@review.ReviewDate</span>
                </div>
                <div class="label label-primary pull-right priceLabels">
                    @review.Author
                </div>
            </div>
        }
        <footer class="col-md-12">
            <hr />
            @if (ViewData["empLoggedIn"].ToString() == "False")
                        {
                <p class="pull-left">&copy; 2017 - Pooch-Patrol</p>
                <form action="EmpLogin" method="get">
                    <a asp-controller="Employee" asp-action="EmpLogin" class="pull-right">Employee Login</a>
                </form>
            }
            else
            {
                <p class="pull-left">&copy; 2017 - Pooch-Patrol</p>
                <form method="post" asp-controller="Employee" asp-action="EmpLogout">
                    <button type="submit" class="btn btn-primary pull-right">Employee Log Out</button>
                </form>
            }
        </footer>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

</body>
</html>





